* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu';
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(57, 47, 47);
  color: #fff;
}

.header-img {
  width: 70px;
}

.gallery-img {
  width: 150px;
}

.social-img {
  width: 25px;
  margin-left: 10px;
}

.p-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1%;
}