.super-mario {
    width: 200px;
    position: absolute;
    
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    left: 70px;
    bottom: 450px;
   
  }
  
  .baloon { 
    position: absolute;
    left: 300px;
    top: 20px;
  
  }
  
  .speach {
    font-size: 25px;
    position: absolute;
    left: 310px;
    top: 50px;
    z-index: 2;
  
    
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    left: 600px;
    top: 180px;
    z-index: 2;
  }